h2,
p{
    background-color: #FFFFFF;
    color: #0C3C26;
    font-family: 'times new roman';
    font-weight: bold;
    font-size: 25px;
    font-variant: normal;
    border-radius: 2px;
    text-shadow: 1px 1px 0px #777777;
}
