{% extends 'lib/base.html' %}
{% load staticfiles %}

{% block ext_css %}
<link rel="stylesheet" type="text/css" href="{% static "about/css/about.css" %}">
{% endblock %}

{% block content %}
<h2 class="m-textgraph-title" id="工作经历">工作经历</h2>
<p class="m-textgraph-content">自2014年7月起,我就职于<a href="http://www.domob.cn/">多盟</a>，一家专注于移动广告的技术公司，在进入公司的早期我在RTB项目组参与策略服务相关的工作，2015年起，我加入海外广告项目组，负责后端服务和投放策略相关的工作。</p>
<p class="m-textgraph-content">我毕业后的第一家公司是<a href="http://www.microstrategy.com/au">Microstrategy</a>，主要业务是企业BI服务，我的主要工作方向是SQL引擎优化</p>
<p class="m-textgraph-content">在研究生阶段，我曾在<a href="http://game.163.com/about/">网易游戏</a>、<a href="https://www.moodys.com/">穆迪</a>和<a href="http://oopsdata.com/">OopsData</a>参加过实习工作，职位基本都是偏后端的开发</p>
<h2 class="m-textgraph-title" id="教育经历">教育经历</h2>
<p class="m-textgraph-content">2006-2010年就读于清华大学电子工程系 本科</p>
<p class="m-textgraph-content">2011-2013年就读于清华大学电子工程系 硕士 研究方向是图形图像</p>
<h2 class="m-textgraph-title" id="职业目标">职业目标</h2>
<p class="m-textgraph-content">即使只是在计算机领域内也有太多的门类，我希望自己的职业生涯可以一直围绕数据服务进行，无论是数据的获取清理，数据的处理存储还是数据的应用展示，我希望有机会学习和参与相关的一切</p>
<h2 class="m-textgraph-title" id="编程语言">编程语言</h2>
<p class="m-textgraph-content">在目前项目中，我主要使用的语言是Python，应用范围包括Web开发（Django）,后端服务(在多盟的服务大多数是手工开发的)和数据相关(Pandas + scikit-learn)，Python也是我最喜欢的语言</p> 
<p class="m-textgraph-content">在RTB项目和Microstrategy的工作里，我的主要工作语言是C++</p>
<p class="m-textgraph-content">我目前在尝试把Scala/Spark应用于我们的项目中，之前的工作中也对Hive/Hadoop/MySQL有实用经验</p>
<p class="m-textgraph-content">我在研究生期间的主要编程语言是C++和Matlab，C++主要结合OpenGL做动画仿真的工作，Matlab是模式识别相关应用的主要语言</p>
<p class="m-textgraph-content">由于我是电子系出身，我在本科期间的编程语言除了C++，还接触过如Verilog这样的硬件编程语言</p>
<p class="m-textgraph-content">在实习和平时学习中，我也曾用C#和Java,Javascript完成过一些任务，主要利用它们高级的GUI和web编程技术，没有太深入的研究</p>
<p class="m-textgraph-content">我对前端技术和mobile app开发都没有什么经验，从这个网站的制作水平也可以看到:)</p>
<h2 class="m-textgraph-title" id="其它技能">其它</h2>
<p class="m-textgraph-content">由于研究生期间一度想转行金融量化，我也考取了证券从业资格，通过CFA Level1级考试和SAS认证考试</p>
<p class="m-textgraph-content">比较喜欢打羽毛球，业余围棋爱好者和历史爱好者，伪体育迷，偶尔关心投资，爱家人，不爱争辩，希望自己聪明一些</p>
<br/>

{% endblock %}
